table thead { 
  background-color:#eee; color:#666666; font-weight: bold;
}
table {
  -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px dashed #000; padding: 10px;
}
td { text-align:right; }
td.left { text-align:left; }

.nav li {
  display: inline;
  font-weight: bold;
  background-color:#eee;
  padding: 4px;
  border: 1px Solid white;
}

/*
 * .nav a {
 *   color: #666;
 * }
 */

.col_total {
  font-style: italic;
  border-top: 2px Solid black;
}

.error_box {
  background-color: pink;
  color: red;
  padding: 4px;
  border: 1px Solid black;
}
